.pagination-container {
  margin-top: 20px;
}

.app-container {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border: 1px solid #ebeef5;
  border-radius: 4px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}
.app-main {
  min-height: 100%;
  padding: 20px;
  background: #fff;
}

.search-container {
  overflow: hidden;
  margin-bottom: 20px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
