.bottom {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D65CFF;
  div {
    flex: 1;
    text-align: center;
    color: #fff;
    a {
      text-decoration: none;
    }
  }
}